<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container-new">
  <div align="left" class="form-field">
    <p class="form-title">
        Give a Title:
      </p>
    <%= f.text_area :title, class: "start-title-field text", type: "text", :rows => 1 %>
  </div>
  <div align="left" class="form-field">
    <p class="form-title">
        Describe it:
      </p>
    <%= f.text_area :description, class: "start-title-field text", type: "text", :rows => 4 %>
  </div>
  <div align="left" class="form-field">
    <p class="form-title">
        Give a Start Bid:
      </p>
    <%= f.number_field :starting_bid, class: "start-title-field text"%>
  </div>
    <%= button_tag(type: 'submit', class: "btn btn-bid") do %>
    Submit
    <% end %>
  </div>

<p></p>
<% end %>
