<ul class="nav nav-tabs">
  <li role="presentation"><a href="/products/">Home</a></li>
  <li role="presentation"><a href="/auction/about">About</a></li>
  <li role="presentation"><a href="/products/my_products">My Listings</a></li>
</ul>
<p id="notice"><%= notice %></p>

<h2>Hello, <%= current_user.name %></h2>
<h2>Here are all the auction items available</h2>

<h3>Total raised: <%= number_to_currency @products.inject(0){|sum, product| sum + (product.bid.try(:amt) || 0) }  %></h3>

<a href="#" class="btn btn-info" data-toggle="modal" data-target="#myModal">
  <h3>Instructions</h3>
</a>

<p></p>
<%= link_to 'Add New Auction Item', new_product_path, :class => "btn btn-primary" %>
<p></p>

<%#= link_to 'Show my products', products_path(user_id: current_user.id) %>
<% @products.each do |product| %>
<div class="container">
      <div class="row row-eq-height">
        <div class="col-sm-4 col">
          <!-- <div class="col-xs-18 col-sm-6 col-md-3"> -->
          <div class="thumbnail">
            <!-- <img src="http://placehold.it/500x250/EEE"> -->
              <div class="caption">
                <h4><%= product.title %></h4>
                <p style="color:#757575"><%= product.user.name %></p>
                <div class="preview-text">
                <p><%= product.description %></p>
              </div>
                  <div class="col-sm-4 col">
                    <p><strong><%= number_to_currency product.starting_bid %></strong></p>
                    <p>Start bid</p>
                  </div>
                  <div class="col-sm-4 col">
                    <p>
                      <% if number_to_currency product.bid.try(:amt).nil? %>
                      None
                      <% else %>
                      <strong><%= number_to_currency product.bid.try(:amt) %></strong></p>
                      <% end %>
                    <p>Highest bid</p>
                  </div>
                  <div class="col-sm-4 col">
                    <p>
                      <% if product.bid.try(:user).try(:name).nil? %>
                      None
                      <% else %>
                      <strong><%= product.bid.try(:user).try(:name) %></strong></p>
                      <% end %>
                    <p>Highest bidder</p>
                  </div>

                  <div class="col-sm-6 col">
                      <% if product.user.name == current_user.name %>
                      <%= link_to 'Edit', edit_product_path(product) %>
                      <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% else %>
                      <%= link_to 'Bid', product, :class => "btn btn-primary btn-xs" %>
                      <% end %>

                  </div>
                </div>
              </div>
            </div>
          <% end %>
  </div><!--/row-->
</div><!--/container -->

<!--
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Lister</th>
      <th>Description</th>
      <th>Starting Bid</th>
      <th>Current Highest Bid</th>
      <th>Bidder</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.user.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency product.starting_bid %></td>
        <td><%= number_to_currency product.bid.try(:amt) %></td>
        <td><%= product.bid.try(:user).try(:name) %></td>
        <td>
          <% if product.user.name == current_user.name %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
          <%= link_to 'Bid', product, :class => "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>
<% end %>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Instructions</h4>
      </div>
      <div class="modal-body">
        <li>You have to bid more than the current amount</li>
        <li>You may only bid on items listed by others, and not your own</li>
        <li>You can list as many items to put up for auction</li>
        <li>Any derogatory listings will be taken down immediately</li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
