<ul class="nav nav-tabs tabs-style">
  <li role="presentation"><a href="/products/">Home</a></li>
  <li role="presentation"><a href="/auction/about">About</a></li>
  <li role="presentation"><a href="/products/my_products">My Listings</a></li>
  <li role="presentation" style="float:right;">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path)  %>
    <% end %></li>
</ul>
<p id="notice"><%= notice %></p>

<br>
<p class="main-title">Use your talents to <strong>bless others</strong></p>

<p class="main-title">Total raised: <%= number_to_currency @products.inject(0){|sum, product| sum + (product.bid.try(:amt) || 0) }  %></p>

<div class="banner">
  <a class="instructions c-button" href="#" data-toggle="modal" data-target="#myModal">Instructions</a>
  <%= link_to 'Auction My Talent', new_product_path, :class => "add-item c-button" %>
</div>

<br>

<p class="explore">Explore live items!</p>
<%#= link_to 'Show my products', products_path(user_id: current_user.id) %>
<% @products.each do |product| %>
<div class="container">
      <div class="row no-padding">
        <div class="col-sm-4 col">
          <!-- <div class="col-xs-18 col-sm-6 col-md-3"> -->
          <div class="thumbnail">
            <!-- <img src="http://placehold.it/500x250/EEE"> -->
              <div class="caption">
                <h4><%= product.title %></h4>Bid
                <p style="color:#757575"><%= product.user.name %></p>
                <div class="preview-text">
                <p><%= product.description %></p>
              </div>
                  <div class="col-sm-4 col">
                    <p class="stats"><%= number_to_currency product.starting_bid %></p>
                    <p>Start bid</p>
                  </div>
                  <div class="col-sm-4 col">
                    <p class="stats">
                      <% if number_to_currency product.bid.try(:amt).nil? %>
                      None
                      <% else %>
                      <%= number_to_currency product.bid.try(:amt) %></p>
                      <% end %>
                    <p>Highest bid</p>
                  </div>
                  <div class="col-sm-4 col">
                    <p class="stats">
                      <% if product.bid.try(:user).try(:name).nil? %>
                      None
                      <% else %>
                      <%= product.bid.try(:user).try(:name) %></p>
                      <% end %>
                    <p>Highest bidder</p>
                  </div>

                  <div style="text-align: center;">
                      <% if product.user.name == current_user.name %>
                      <%= link_to 'Edit', edit_product_path(product) %>
                      <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <% else %>
                      <%= link_to 'Bid', product, :class => "btn-bid btn-block" %>
                      <% end %>

                  </div>
                </div>
              </div>
            </div>
          <% end %>
  </div><!--/row-->
</div><!--/container -->

<!--
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Lister</th>
      <th>Description</th>
      <th>Starting Bid</th>
      <th>Current Highest Bid</th>
      <th>Bidder</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.user.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency product.starting_bid %></td>
        <td><%= number_to_currency product.bid.try(:amt) %></td>
        <td><%= product.bid.try(:user).try(:name) %></td>
        <td>
          <% if product.user.name == current_user.name %>
          <%= link_to 'Edit', edit_product_path(product) %>
          <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% else %>
          <%= link_to 'Bid', product, :class => "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Instructions</h4>
      </div>
      <div class="modal-body">
        <li>You have to bid an amount equal to or more than the current amount</li>
        <li>You may only bid on items listed by others, and not your own</li>
        <li>You can list as many items to put up for auction</li>
        <li>Any derogatory listings will be taken down immediately</li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
