<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Lister:</strong>
  <%= @product.user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Starting Bid:</strong>
  <%= @product.starting_bid %>
</p>

<p>
  <strong>Highest Bid:</strong>
  <%= @product.bid.try(:amt) %>
</p>

<p>
  <strong>Bidder:</strong>
  <%= @product.bid.try(:user).try(:name) %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @product.deadline %>
</p>

<% if @product.user.name != current_user.name %>
    <%= form_for [@product, @bid] do |f| %>
  <p>
    <strong>New bid: </strong>
    <%= f.number_field :amt %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    Place Bid
    <% end %>
  </p>
  <% end %> 
<% else %>                 
<% end %>



<%= link_to 'Back', products_path %>
